* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/**Nav-bar Starts Here**/
.nav-container {
    background-color: #FFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon-img {
    width: 80px;
    height: 35px;
}

.nav-header {
    width: 60px;
    font-weight: 700;
    margin-left: 15px;

}

.span1 {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menus ul {
    display: flex;
}

.menus ul li {
    list-style: none;
    margin-right: 35px;
}

.clickable {
    padding: 3px 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: red;
    margin-left: 5px
}

.fa-tiktok {
    margin-left: 8px;
    color: black;
}

/**Navbar Ends Here**/

/**First Banner Starts Here**/
.banner-1-container {
    height: 65%;
    background-image: url(./images/Group\ 14.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fist-banner-title {
    color: #0B0223;
    font-size: 38px;
    font-weight: 600;
}

.second-banner-title {
    font-size: 59px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-1-container ul {
    margin-bottom: 20px;
}

.banner-1-content ul li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.fa-circle-play {
    margin-right: 15px;
}

.fa-cloud-arrow-down {
    color: #F948B2;
    margin-right: 15px;
}

.fa-user {
    margin-right: 15px;
}

.first-btn {
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 25px;

}
.second-btn{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 25px;
}

.gaming-first-img {
    width: 450px;
    height: 350px;
}




/**Responsive in Mobile**/
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .icon {
        margin-bottom: 30px;
    }

    .menus ul {
        flex-direction: column;
        text-align: center;
    }

    .menus ul li {
        margin-bottom: 20px;
    }
}